h1 {
  font-size: 3em;
  margin-top: -0.0001em;
}

.navbar {
  background-color: #ebff87;
  color: #C8C6D7;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 99.75%;
  height: 3em;
  padding: 1em;
  margin-top: -20px;
  margin-left: -20px;
}

.links {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  right: 0px;
  float: right;
  width: 20em;
  margin-right: -2.1em;
}

.button {
  margin-top: 1em;
  margin-right: 1em;
  font: bold 1.6em monospace;
  background-color: #36f7cd;
  padding: 0.25em 0.75em 0.25em 0.75em;
  border-top: 4px solid #00d138;
  border-right: 4px solid #36ff3c;
  border-bottom: 4px solid #36ff3c;
  border-left: 4px solid #00d138;
}

.button:hover {
  background-color: #19a687;
  border-top: 4px solid #36ff3c;
  border-right: 4px solid #00d138;
  border-bottom: 4px solid #00d138;
  border-left: 4px solid #36ff3c;
}

a,
h1,
h2 {
  color: #b01e19;
  text-decoration: none;
}

.character {
  width: 45%;
  margin: 1em;
  height: auto;
  background-color: #d767f0;
}

.char_img {
  float: right;
  width: 25%;
  margin: 1em;
  border: 0.5em groove #b01e19;
}

.name {
  margin-top: -0.5em;
  margin-bottom: 1em;
  padding: 1em;
  color: #b01e19;
  font-size: 2.5em;
}

.info_p {
  margin-top: -3em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  border: 2px dashed grey;
  font-size: 1.25em;
}

.one {
  float: left;
  margin-left: 2.5%;
}

.two {
  float: right;
  margin-right: 2%;
}

h2 {
  font-size: 2.5em;
  margin-left: 0.5em;
}

#main-img {
  width: 95%;
  margin-top: 2.5em;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border: 0.5em solid #5beb5e;
}

.home-info {
  margin: 2%;
  font-size: 1.1em;
}

.home {
  width: 45%;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 20em;
  background-color: #d767f0;
}